body {
    background-image: url(/images/5898436.jpg);
}

.pinkFocus:focus {
    border-color: #f63b5b !important;
    box-shadow: 0 0 0 0.25rem #ec8585 !important;
}

.addButton {
    margin-top: 10px;
    background: #ec8585;
    border-color: #f63b5b;
}

.addButton:hover {
    background-color: rgb(246, 59, 91);
}

.fa-plus {
    color: #000
}

h1 {
    font-family: cookie;
    font-size: 5rem;
}

.selectTitle {
    margin-left: 10px;
}

.instructions {
    margin-left: 30px;
}

.content-area {
    background-color: #ffffff83;
    margin: 10px;
}

.icon-container {
    vertical-align: top;
    position: relative;
    top: 0;
}

.heart,
.fullHeart {
    color: rgb(182, 7, 7);
    margin-top: -5px;
}

.heart:hover,
.fullHeart:hover {
    color: rgb(246, 59, 91);
}

.edit {
    color: rgb(33, 33, 241);
    border: none;
}

.edit:hover {
    color: rgb(73, 178, 243)
}

.trash {
    color: rgb(74, 71, 71);
    border: none;
}

.boxTitle {
    color: #fff;
    background-color: #ec8585;
    box-shadow: 7px -7px 5px #f8c3c3;
    text-align: center;
    margin: 15px 10px;
}

footer {
    font-family: 'Crete Round',
        serif;
    background-color: #ffffff83;
    text-align: center;
}

@media(min-width:767px) and (max-width:937px),
(min-width:576px) and (max-width:623px) {

    .edit,
    .trash {
        padding: 0 4px;
    }
}

@media (max-width:309px) {

    .edit,
    .trash {
        padding: 0 4px;
    }
}